.inline_block{
    display: inline-block;
    width: 60px;
    height: 200px;
    bottom: 20px;
    left: 250px;
    position: absolute;
}

#GIF{
    padding-top: 10px;
    height: 700px;
    background-color: white;
    position: relative;
}

#title{
    position: absolute;
    left: 20px;
}

.inline_block img{
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform : translate(-50%);
  transform : translate(-50%);

}

.inline_block .label{
    /*text以外にtext-align: center は聞かないので以下のようにして調整する*/
    position: absolute;
    left: 50%;
    -webkit-transform : translate(-50%);
    transform : translate(-50%);
    /*top: 10%;*/
    bottom: 55px;
}
.inline_block .value{
    position: absolute;
    left: 50%;
    -webkit-transform : translate(-50%);
    transform : translate(-50%);
    top: 180px;
}





.red {
    filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
}

.green {
    filter: invert(17%) sepia(91%) saturate(7085%) hue-rotate(128deg) brightness(100%) contrast(106%);
}

.blue {
    filter: invert(8%) sepia(99%) saturate(7044%) hue-rotate(247deg) brightness(100%) contrast(145%);
}
.white {
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
}
.grey {
    filter: invert(50%) sepia(0%) saturate(11%) hue-rotate(143deg) brightness(101%) contrast(93%);
}
.yellow {
    filter: invert(81%) sepia(81%) saturate(633%) hue-rotate(359deg) brightness(106%) contrast(105%);
}
.orange {
    filter: invert(72%) sepia(26%) saturate(6428%) hue-rotate(1deg) brightness(105%) contrast(102%);
}
.aqua {
    filter: invert(88%) sepia(100%) saturate(2929%) hue-rotate(104deg) brightness(99%) contrast(104%);
}
.purple {
    filter: invert(11%) sepia(71%) saturate(5170%) hue-rotate(293deg) brightness(87%) contrast(111%);
}

.cp_iptxt {
    position: relative;
    width: 80%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 10%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #1b2538;
	border-radius: 4px;
}

.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    width: 40px;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

  .btn-square2 {
    display: inline-block;
    padding: 0.5em 1em;
    width: 100px;
    text-decoration: none;
    background: #92ff97;
    color:black;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn-square2:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

  .btn-square3 {
    display: inline-block;
    padding: 0.5em 1em;
    width: 400px;
    height: 60px;
    text-decoration: none;
    background: #92ff97;
    color:black;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn-square3:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

  
.ef input[type='text']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

.textlines {
    border: 2px solid #0a0;  /* 枠線 */
    border-radius: 0.67em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    background-color: snow;  /* 背景色 */
    width: 100%;             /* 横幅 */
    height: 120px;           /* 高さ */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2;        /* 行の高さ */
}
